body {
  background-color: rgb(33, 33, 33);
  color: white;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-brand {
  font-size: 30px;
}

.navbar-cardapio {
  font-size: 25px;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.cart-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}


.custom-container {
  margin-top: 20px;
}

.form-label {
  color: white;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  background-color: #e0a800;
  border-color: #e0a800;
}

#profilePreview {
  display: none; /* Começa escondido */
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Deixa a imagem redonda */
  object-fit: cover; /* Evita que a imagem distorça */
  border: 3px solid #ffc107; /* Borda com a cor do tema */
  margin: 10px auto 15px; /* Centraliza e adiciona margem */
}