body {
  background-color: rgb(33, 33, 33);
  color: white;
}

.navbar {
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Classe para centralizar o nome da pizzaria */
.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-brand {
  font-size: 30px;
}

.navbar-cardapio {
  font-size: 25px;
}

/* Classe para alinhar itens à direita */
.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

/* Classe do ícone do carrinho */
.cart-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Classe da <div> que segura a imagem e o texto */
.relative {
  background-image: url('pizza5.png');
  background-size: cover; /* Faz a imagem cobrir toda a área */
  background-position: center; /* Centraliza a imagem */
  width: 100%;
  height: 700px;
  position: relative;
}

/* Classe da caixa de texto sobre o banner */
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px;
  text-align: center;
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 1; /* Garante que o texto fique na frente da imagem */
}

/* Estilo da lista de sabores */
.container ul li {
  font-size: 1.5rem;
  line-height: 1.333em; 
}


.cardapio-item {
  transition: background-color 0.3s ease;
}

.custom-container {
  margin-top: 20px;
}

.table-dark {
  background-color: #444;
  color: white;
}

.bg-dark {
  background-color: #333 !important;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  background-color: #e0a800;
  border-color: #e0a800;
}