body {
  background-color: rgb(33, 33, 33);
  color: white;
}

.navbar {
  color: white;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-brand {
  font-size: 30px;
}

.navbar-cardapio {
  font-size: 25px;
}

.navbar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.cart-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.relative {
  background-image: url('pizza5.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px;
  text-align: center;
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  z-index: 1;
}


.container ul li {
  font-size: 1.5rem;
  line-height: 2rem;
}



.cardapio-item {
  transition: background-color 0.3s ease;
}

.custom-container {
  margin-top: 20px;
}

.table-dark {
  background-color: #444;
  color: white;
}

.bg-dark {
  background-color: #333 !important;
}

.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-warning:hover {
  background-color: #e0a800;
  border-color: #e0a800;
}